<div class="blank">
</div>
<%= form_with(model: @user, local: true) do |form| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= @user.errors.count %>件のエラーがあります。</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="form-group">
    <%= form.label :名前 %>
    <%= form.text_field :name %>
  </div>
  <div class="form-group">
    <%= form.label :自己紹介 %>
    <%= form.text_field :content %>
  </div>
  <div class="form-group">
    <%= form.label :住まい %>
    <%= form.text_field :address %>
  </div>
  <div class="form-group">
    <%= form.label :プロフィール画像 %>
    <%= form.file_field :image %>
  </div>
<%= form.submit %>

<%= link_to 'マイページへ', users_path %>
<% end %>
