<%= form_with(model: @user, local: true) do |form| %>

<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= @user.errors.count %>件のエラーがあります。</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div>
  <%= form.label :名前 %>
  <%= form.text_field :name %>
  <%= form.label :自己紹介 %>
  <%= form.text_field :content %>
  <%= form.label :住まい %>
  <%= form.text_field :address %>
  <%= form.label :プロフィール画像 %>
  <%= form.text_field :image %>
</div>
<%= form.submit %>

<%= link_to 'マイページへ', users_path %>
<% end %>
