<h1>マイページ</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>自己紹介文 : <%= @user.user_content %></p>
<p>住まい : <%= @user.address %></p>
<p><%= image_tag @user.image.url, :size =>'100x100' %></p>
<p class="link"><%= link_to "マイページを編集する", edit_user_path(@user) %></p>
<p class="link"><%= link_to "マイページを確認する", user_path(@user) %></p>
<br>
<table>
  <tr>
    <th>あなたがフォローしたユーザー</th>
  </tr>
  <% @user.following.each_with_index do |user,id| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= link_to "詳細", user_path(user) %></td>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <th>あなたをフォローしたユーザー</th>
  </tr>
  <% @user.followers.each_with_index do |user,id| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= link_to "詳細", user_path(user) %></td>
    </tr>
  <% end %>
</table>

<br>
<p>参加中のイベント</p>
<table>
  <tr>
    <th>日付</th>
    <th>type</th>
    <th>移動予定（スタート）</th>
    <th>移動予定（ゴール）</th>
    <th>金額</th>
    <th>タイトル</th>
    <th>投稿者</th>
  </tr>
  <% @participat.each_with_index do |user_participat,ids| %>
  <tr>
    <td><%= l user_participat.date %></td>
    <td><%= user_participat.status %></td>
    <td><%= user_participat.start_point %></td>
    <td><%= user_participat.goal_point %></td>
    <td><%= user_participat.carry_price %></td>
    <td><%= user_participat.title %></td>
    <td><%= user_participat.user.name %></td>
    <td class="link"><%= link_to "イベントをキャンセルする", event_path(user_participat,participat_status:"cancel"), method: :put %></td>
    <td class="link"><%= link_to "イベントを完了する", event_path(user_participat,participat_status:"done"), method: :delete %></td>
  </tr>
  <% end %>
</table>
<br>
<p>主催中のイベント</p>
<table>
  <tr>
    <th>日付</th>
    <th>type</th>
    <th>移動予定（スタート）</th>
    <th>移動予定（ゴール）</th>
    <th>金額</th>
    <th>タイトル</th>
    <th>投稿者</th>
  </tr>
  <% @user.events.each_with_index do |user_event,ids| %>
    <tr>
      <td><%= l user_event.date %></td>
      <td><%= user_event.status %></td>
      <td><%= user_event.start_point %></td>
      <td><%= user_event.goal_point %></td>
      <td><%= user_event.carry_price %></td>
      <td><%= user_event.title %></td>
      <td><%= user_event.user.name %></td>
      <td class="link"><%= link_to "イベントを編集する", edit_event_path(user_event) %></td>
      <td class="link"><%= link_to 'イベントを削除する', event_path(user_event), method: :delete %></td>
    </tr>
  <% end %>
</table>
