<h1 class="display-3">ユーザ情報</h1>
<% unless @user.image.url.nil?%>
  <p class="lead float-right" id="user_image"><%= image_tag @user.image.url, :size =>'300x300' %></p>
  <br>
<% else %>
  <p class="lead">プロフィール画像：（なし）</p>
<% end %>

<table>
  <tr>
    <td class="lead">名前 : <%= @user.name %></td>
    <% unless current_user.id == @user.id%>
      <td><%= render 'follow_form', user: @user %></td>
    <% end %>
  </tr>
</table>
<p class="lead">メールアドレス : <%= @user.email %></p>
<p class="lead">自己紹介文 : <%= @user.user_content %></p>
<p class="lead">住まい : <%= @user.address %></p>
<li>
  <div class="item">
    <%= link_to 'メッセージのやり取りをする', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post %>
  </div>
</li>
<p class="lead">この主催者のイベント情報</p>
<table class="table">
  <tr>
    <th>日付</th>
    <th>type</th>
    <th>スタート</th>
    <th>ゴール</th>
    <th>金額</th>
    <th>タイトル</th>
    <th>投稿者</th>
    <th></th>
  </tr>
  <% @user.events.each_with_index do |user_event,ids| %>
    <tr>
      <td><%= l user_event.date %></td>
      <td><%= user_event.status %></td>
      <td><%= user_event.start_point %></td>
      <td><%= user_event.goal_point %></td>
      <td><%= user_event.carry_price %></td>
      <td><%= user_event.title %></td>
      <td><%= user_event.user.name %></td>
      <td class="link"><%= link_to "イベントの詳細", event_path(user_event) %></td>
    </tr>
  <% end %>
</table>
