<%= form_with(model: @event, local: true,data: {confirm: "この内容で登録しますか？"}) do |form| %>

  <% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= @event.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div>
    <p><%= form.label :開催日時 %></p>
    <p><%= form.datetime_local_field :date %></p>
    <p><%= form.label :イベント名 %></p>
    <p><%= form.text_field :title %></p>
    <p><%= form.label :概要 %></p>
    <p><%= form.text_field :content %></p>
    <p><%= form.label :スタート地点 %></p>
    <p><%= form.text_field :start_point %></p>
    <p><%= form.label :ゴール地点 %></p>
    <p><%= form.text_field :goal_point %></p>
    <p><%= form.label :金額 %></p>
    <p><%= form.number_field :carry_price,min:100,max:9999999 %></p>
    <p><%= form.label :車or乗 %></p>
    <p><%= form.select :status, Event.statuses.keys, { include_blank: '選択してください' }, { required: true } %></p>
  </div>
  <%= form.submit %>

<% end %>
