<h1>イベント一覧</h1>
<%= link_to 'イベントを登録する', new_event_path %>
<%= search_form_for @q do |f| %>
  <%= f.label :title, "タイトル" %>
  <%= f.search_field :title_cont %>

  <%= f.label :date, "日付" %>
  <%= f.date_field :date_gteq %>〜
  <%= f.date_field :date_lt %>
  
  <%= f.label :status %>
  <%= f.radio_button :status_eq, '', {:checked => true} %>指定なし
  <%= f.radio_button :status_eq, 1 %>車
  <%= f.radio_button :status_eq, 2 %>乗

  <%= f.submit "検索" %>
<% end %>
<table class="table table-striped">
  <tr>
    <th><%= sort_link(@q, :date, "日付") %></th>
    <!-- <th>日付</th> -->
    <th>type</th>
    <th>移動予定（スタート）</th>
    <th>移動予定（ゴール）</th>
    <th><%= sort_link(@q, :carry_price, "金額") %></th>
    <th>タイトル</th>
    <th>投稿者</th>
  </tr>
  <% @events.each_with_index do |event,ids| %>
  <tr>
    <td class="event_name" id="<%=ids%>"><%= l event.date %></td>
    <td ><%= event.status %></td>
    <td class="event_status"><%= event.start_point %></td>
    <td ><%= event.goal_point %></td>
    <td ><%= event.carry_price %>円</td>
    <td class="event_row"><%= event.title %></td>
    <td><%= event.user.name %></td>
    <td class="link"><%= link_to '詳細を確認する', event_path(event) %></td>
    <% if event.user.id == current_user.id %>
      <td class="link"><%= link_to "イベントを編集する", edit_event_path(event) %></td>
      <td class="link"><%= link_to 'イベントを削除する', event_path(event), method: :delete %></td>
    <% end %>
  </tr>
  <% end %>
</table>
