<p>アプリ概要：地方では車が必須。スーパーやコンビニなどでも5、6kmは珍しくない しかし、地方のバス代などは移動している距離の割には割高な場合もある。 車を持てば移動に困る事は少なくなるのだが、高齢者などは車を持つことをあまり良く思われない。 そんな中で利用したいのが相乗りという文化。 近くを通る誰かを見つけて、自分が行きたい目的地を通るなら一緒に乗せてもらう。 乗せてもらった者は「ガソリン代」としていくらかを払う。 乗せた方は本来向かう場所だったのでとくにリスクはなく、ガソリン代が浮く。乗せてもらった者は低価格で目的地へ行けるというwinwinのサービス</p>

<%= search_form_for @q do |f| %>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= f.label :title, "タイトル" %>
          <%= f.search_field :title_cont %>
        </div>
        <div class="form-group">
          <%= f.label :date, "日付" %>
          <%= f.date_field :date_gteq %>〜
          <%= f.date_field :date_lt %>
        </div>
        <div class="form-group">
          <%= f.label :status %>
          <%= f.radio_button :status_eq, '', {:checked => true} %>指定なし
          <%= f.radio_button :status_eq, 1 %>車
          <%= f.radio_button :status_eq, 2 %>乗
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <%= f.label :start_point, "スタート地点" %>
          <%= f.search_field :start_point_cont %>
        </div>
        <div class="form-group">
          <%= f.label :goal_point, "ゴール地点" %>
          <%= f.search_field :goal_point_cont %>
        </div>
              <%= f.submit "検索" %>
      </div>
    </div>
  </div>
<% end %>

<table class="table" >
  <tr >
    <th ><%= sort_link(@q, :date, "日付") %></th>
    <th ><%= sort_link(@q, :status, "type") %></th>
    <th id="point"><%= sort_link(@q, :start_point, "スタート") %></th>
    <th  id="point"><%= sort_link(@q, :goal_point, "ゴール") %></th>
    <th ><%= sort_link(@q, :carry_price, "金額") %></th>
    <th >タイトル</th>
    <th >投稿者</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @events.each_with_index do |event,ids| %>
    <tr>
      <% if event.participat_id.nil? %>
        <td  class="event_name" id="<%=ids%>"><%= event.date.strftime("%Y年%m月%d日 %H時%M分") %></td>
        <td  ><%= event.status %></td>
        <td  class="event_status"><%= event.start_point %></td>
        <td  ><%= event.goal_point %></td>
        <td  ><%= event.carry_price %>円</td>
        <td  class="event_row"><%= event.title %></td>
        <td  ><%= event.user.name %></td>
              <td id="link"><button type="button" class="btn btn-outline-secondary btn-sm"><%= link_to "#{event.title}の詳細を確認", event_path(event) %></button></td>
              <% if event.user.id == current_user.id %>
                <td id="link"><button type="button" class="btn btn-outline-secondary btn-sm"><%= link_to "イベントを編集する", edit_event_path(event) %></button></td>
                <td id="link" ><button type="button" class="btn btn-outline-secondary btn-sm"><%= link_to "#{event.title}のイベントを削除する", event_path(event), method: :delete, data: {confirm: "このイベントを削除しますか？"} %></button></td>
              <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
<%= paginate @events %>
