<h1><%= @event.title %>の詳細画面</h1>
<p>日付: <%= l @event.date %></p>
<p>type: <%= @event.status %></p>
<p>移動予定（スタート）: <%= @event.start_point %></p>
<p>移動予定（ゴール）:<%= @event.goal_point %></p>
<p>金額:<%= @event.carry_price %></p>
<p>概要: <%= @event.content %></p>
<p>投稿者: <%= link_to "#{ @event.user.name }", user_path(@event.user) %></p>

<%= link_to "申し込みする", event_path(@event,participat_status:"申し込み"), method: :put %>
