<!DOCTYPE html>
<html>
  <head>
    <title>Assy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>
  <!-- <body>  -->
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if user_signed_in? %>
      <header>
        <nav>
          <ul class="clearfix herder_menu">
            <li id="assy" class="hedder_left"><%= link_to 'Assy', events_path %></li>
            <li class="hedder_right"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li class="hedder_right"><%= link_to 'イベントを登録する', new_event_path %></li>
            <li class="hedder_right"><%= link_to 'マイページ', users_path %></li>
          </ul>
        </nav>
      </header>
      <%= link_to '戻る', 'javascript:history.back()' %>
    <% else %>
    <% end %>
       <%= yield %>
    <!-- </body> -->
    </body>
</html>
